<div class="watch">
  <div class="player-wrapper" [ngClass]="{'hidden': !activeVideo}">
    <div class="player" #playerElement></div>
  </div>

  <div class="proposals">
    <div class="msg error" *ngIf="proposalError">
      Something went wrong
    </div>

    <div class="msg success" *ngIf="proposalSuccess">
      Success
    </div>

    <div class="new-video">
      <input type="link" placeholder="Paste youtube video URL here" [(ngModel)]="link" />
      <button class="common" (click)="proposeLink()">Propose watching</button>
    </div>

    <div class="list">
      <div class="each" *ngFor="let video of proposals">
        <div class="thumbnail">
          <img [src]="video.thumbnailUrl" />
        </div>

        <div class="data">
          <span>
            <a [href]="video.url" target="_blank">{{ video.title }}</a> ({{ video.duration | humanizeDuration }})
          </span>

          <div class="additional">
            <div class="info">
              <div>
                <i class="ion-person"></i> by {{ video.owner }}
              </div>
              <div>
                <i class="ion-play"></i> {{ video.views }} views
              </div>
            </div>

            <div class="actions">
              <button
                (click)="acceptProposal(video)"
                *ngIf="!activeVideo || (activeVideo && activeVideo.id !== video.id)"
              >
                <i class="ion-checkmark"></i> Play
              </button>

              <button
                [disabled]="true"
                *ngIf="activeVideo && (activeVideo && activeVideo.id === video.id)"
              >
                <i class="ion-play"></i> currently playing
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>