@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
@import url("https://fonts.googleapis.com/css?family=Satisfy");
@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(1, 1); }
  50% {
    -webkit-transform: scale(1.5, 1.5); }
  100% {
    -webkit-transform: scale(1, 1); } }

@keyframes zoom {
  0% {
    -webkit-transform: scale(1, 1); }
  50% {
    -webkit-transform: scale(1.5, 1.5); }
  100% {
    -webkit-transform: scale(1, 1); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible; }
  100% {
    opacity: 0;
    visibility: hidden; } }

body {
  background-color: #FAF9F8;
  max-width: 960px;
  margin: 0 auto;
  font-family: 'Lato', sans-serif; }

a {
  text-decoration: none;
  color: #FF645C;
  cursor: pointer; }
  a:hover {
    text-decoration: underline; }

button.common {
  background-color: #fff;
  color: #FF645C;
  font-size: 16px;
  height: 50px;
  border-radius: 5px;
  outline: none;
  border: 3px solid #FF645C;
  font-weight: 500;
  padding: 0 25px;
  margin: 0 10px;
  text-transform: uppercase;
  cursor: pointer; }
  button.common:disabled {
    background-color: #FF645C;
    color: #fff;
    opacity: 0.8; }
  button.common:hover {
    background-color: #FF645C;
    color: #fff; }

airflix-app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh; }

header {
  text-align: center; }
  header h1 {
    font-size: 80px;
    font-family: 'Satisfy', cursive;
    color: #7C5CD1;
    margin: 0; }
  header h2 {
    font-size: 22px;
    color: #9F88E7;
    margin: 10px 0; }

div.container {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column; }

footer {
  font-size: 14px;
  color: #aaa;
  text-align: center;
  margin: 10px 0; }

div.start-options > p {
  font-size: 16px;
  color: #9F88E7;
  max-width: 300px;
  font-weight: 500;
  margin: 0 auto 20px auto; }

div.start-options div.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0; }

div.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 1;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0; }

div.modal-wrapper {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh; }
  div.modal-wrapper div.modal {
    background-color: #fff;
    padding: 20px;
    margin: 0 auto;
    overflow: hidden;
    width: 40vw;
    min-width: 300px;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 0 0 35px #999;
    position: relative; }
    div.modal-wrapper div.modal h1 {
      margin: 0;
      font-size: 22px;
      color: #7C5CD1;
      text-transform: uppercase; }
    div.modal-wrapper div.modal input {
      font-size: 14px;
      color: #444;
      height: 40px;
      border-radius: 3px;
      outline: none;
      border: 2px solid #ccc;
      padding: 0 10px;
      margin: 10px; }
    div.modal-wrapper div.modal p {
      color: #9F88E7;
      font-size: 16px;
      font-weight: 400;
      margin: 10px 0; }
      div.modal-wrapper div.modal p.error {
        font-size: 14px;
        color: #F44336; }
    div.modal-wrapper div.modal i.close {
      position: absolute;
      top: 15px;
      right: 20px;
      font-size: 14px;
      color: #ccc;
      z-index: 2;
      cursor: pointer; }

div.watch div.player-wrapper {
  width: 100%; }
  div.watch div.player-wrapper.hidden {
    visibility: hidden; }
  div.watch div.player-wrapper div.player {
    width: inherit; }

div.watch div.proposals div.msg {
  font-size: 15px;
  font-weight: 400;
  max-width: 300px;
  margin: 15px auto;
  border-radius: 3px;
  padding: 10px; }
  div.watch div.proposals div.msg.success {
    background-color: #4CAF50;
    color: #fff; }
  div.watch div.proposals div.msg.error {
    background-color: #ef9a9a;
    color: #d50000; }

div.watch div.proposals div.new-video {
  max-width: 400px;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  align-items: center; }
  div.watch div.proposals div.new-video input {
    height: 40px;
    padding: 0 10px;
    font-size: 18px;
    margin: 10px 0;
    border-radius: 4px;
    background-color: #fff;
    outline: none;
    color: #888;
    border: 3px solid #e8e8e8; }
  div.watch div.proposals div.new-video button {
    font-weight: 400;
    font-size: 16px; }

div.watch div.proposals div.list {
  margin: 20px 10px; }
  div.watch div.proposals div.list div.each {
    display: flex;
    flex-direction: row;
    max-width: 600px;
    height: 80px;
    padding: 10px;
    margin: 20px auto;
    box-shadow: 0 0 35px #bcbcbc; }
    div.watch div.proposals div.list div.each div.thumbnail {
      height: 80px; }
      div.watch div.proposals div.list div.each div.thumbnail img {
        height: 100%; }
    div.watch div.proposals div.list div.each div.data {
      text-align: left;
      margin-left: 10px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      div.watch div.proposals div.list div.each div.data > span {
        color: #888; }
      div.watch div.proposals div.list div.each div.data div.additional {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; }
        div.watch div.proposals div.list div.each div.data div.additional div.info {
          display: flex;
          flex-direction: row; }
          div.watch div.proposals div.list div.each div.data div.additional div.info > div {
            font-size: 14px;
            color: #aaa;
            margin-right: 10px; }
        div.watch div.proposals div.list div.each div.data div.additional div.actions {
          background-color: #eee;
          border-radius: 15px;
          height: 30px;
          line-height: 30px;
          padding: 0 10px; }
          div.watch div.proposals div.list div.each div.data div.additional div.actions button {
            color: #aaa;
            background: none;
            outline: none;
            border: 0;
            font-size: 13px;
            cursor: pointer;
            height: 100%;
            width: 100%;
            display: flex; }
            div.watch div.proposals div.list div.each div.data div.additional div.actions button i {
              margin-right: 10px; }
            div.watch div.proposals div.list div.each div.data div.additional div.actions button:not(:disabled):hover {
              color: #888; }
